<table width="80%" align="center" >
    <thead>
      <tr>
        <th>Time</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thrusday</th>
        <th>Friday</th>
        <th>Saturday</th>
      </tr>
    </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td id="a1" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="a2" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="a3" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="a4" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="a5" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="a6" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
    </tr>

    <tr>
      <td>2</td>

      <td id="b1" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="b2" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="b3" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="b4" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="b5" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="b6" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
    </tr>

    <tr>
      <td>3</td>

      <td id="c1" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="c2" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="c3" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="c4" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="c5" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="c6" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>

    </tr>

    <tr>
      <td>4</td>

      <td id="d1" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="d2" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="d3" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="d4" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="d5" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="d6" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>

    </tr>

    <tr>
      <td>5</td>

      <td id="e1" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="e2" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="e3" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="e4" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="e5" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="e6" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>

    </tr>
    <tr>
      <td>6</td>

      <td id="f1" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="f2" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="f3" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="f4" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="f5" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="f6" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>

    </tr>
    <tr>
      <td>7</td>

      <td id="g1" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="g2" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="g3" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="g4" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="g5" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
      <td id="g6" class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></td>

    </tr>
  </tbody>

</table>
